
.admin-page{

background:#fdf4df;

min-height:100vh;

font-family:Arial, Helvetica, sans-serif;

}


/* Navbar */

.admin-navbar{

height:60px;

background:#8B4513;

color:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

box-shadow:0 2px 8px rgba(0,0,0,0.2);

}

.logo{

font-size:32px;

font-weight:bold;

}

.menu{

display:flex;

gap:30px;

font-size:18px;

font-weight:600;

}

.menu span{

cursor:pointer;

transition:.3s;

}

.menu span:hover{

color:#ffe4b5;

}


/* Heading */

.title{

text-align:center;

margin-top:35px;

font-size:42px;

color:#3f2d20;

}


/* White Dashboard */

.dashboard{

width:90%;

margin:30px auto;

background:white;

padding:35px;

border-radius:12px;

box-shadow:0 8px 20px rgba(0,0,0,.15);

}


/* Cards */

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

margin-bottom:60px;

}

.card{

border-radius:10px;

color:white;

padding:30px;

text-align:center;

box-shadow:0 4px 10px rgba(0,0,0,.2);

}

.card h2{

margin-bottom:25px;

font-size:30px;

}

.card h1{

font-size:42px;

}


/* Card Colors */

.users{

background:#A8572D;

}

.vendors{

background:#5E772F;

}

.items{

background:#9D5214;

}

.orders{

background:#D9BC91;

color:#43352a;

}


/* Graph */

.graph{

height:360px;

display:flex;

justify-content:center;

align-items:flex-end;

gap:70px;

border-left:3px solid #555;

border-bottom:3px solid #555;

padding:20px;

margin:auto;

width:70%;

}


/* Each Bar */

.bar{

display:flex;

flex-direction:column;

align-items:center;

justify-content:flex-end;

width:70px;

height:100%;

}

.fill{

width:55px;

border-radius:8px 8px 0 0;

transition:.4s;

}

.fill:hover{

transform:scaleY(1.05);

}


/* Bar Colors */

.purple{

background:#31114f;

}

.cyan{

background:#1dd8df;

}

.blue{

background:#1200ff;

}

.orange{

background:#ffa400;

}


/* Labels */

.bar p{

margin-top:12px;

font-size:20px;

font-weight:bold;

color:#333;

}


/* Responsive */

@media(max-width:1000px){

.cards{

grid-template-columns:repeat(2,1fr);

}

.graph{

width:95%;

gap:35px;

}

}

@media(max-width:700px){

.admin-navbar{

padding:15px;

flex-direction:column;

height:auto;

}

.menu{

margin-top:15px;

flex-wrap:wrap;

justify-content:center;

}

.cards{

grid-template-columns:1fr;

}

.graph{

gap:20px;

}

}